<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impakt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css"> <!-- Include your common CSS file here -->
</head>

<body>
    <!-- Include the navigation component -->
    <%- include('../partials/navbar'); %>

    <!-- Include the hero section component -->
    <%- include('../partials/hero'); %>

    <!-- Include the search fields section component -->
    <%- include('../partials/search-fields'); %>
    <%- include('../partials/404'); %>

    <%- include('../partials/upcomingEvent'); %>    
    <%- include('../partials/createEvent'); %>
    <%- include('../partials/ourBlog'); %>
    <%- include('../partials/footer'); %>




</body>

</html>
