<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impakt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/png" sizes= "32x32" href="/images/Logo.png" />
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <!-- Include the navigation component -->
    <%- include('../partials/navbar'); %>

    <!-- Include the hero section component -->
    <%- include('../partials/hero'); %>

    <!-- Include the search fields section component -->

    <%- include('../partials/upcomingEvent'); %>    
    <%- include('../partials/createEvent'); %>
    <%- include('../partials/ourBlog'); %>
    <%- include('../partials/footer'); %>




</body>

</html>
