<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impakt Profile</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div class="container">
            <div class="impakt-profile">
                <div class="impakt-text" style="display: inline;">impakt</div><div class="profile-text" style="display: inline;">profile</div>
            </div>
            <div class="user-profile-container">
                <div class="user-pic">
                    <img src="<%= user.profilePicture %>" alt="user-Pic">
                </div>
        </div>
        <div class="user-information-form">
            <div class="user-info-box">
                <form action="/user/updateProfile" method="PATCH">
                    <p class="name">Full name: <input type="text" name="name" value="<%= user.name %>"></p>
                    <p class="email">Email: <%= user.email %></p>
                    <p class="interests">Interests: <input type="text" name="interests" value="<%= user.interests %>"></p>
                    <p class="phone">Phone number: <input type="text" name="phone" value="<%= user.phone %>"></p>
                    <p class="profile-pic-upload">Profile Picture: <input type="file" name="profilePicture" value="<%= user.profilePicture %>"></p>
                    <h2>Change Password</h2>
                    <p class="current-password">Current Password: <input type="password" name="currentPassword"></p>
                    <p class="new-password">New Password: <input type="password" name="newPassword"></p>
                    <p class="confirm-password">Confirm New Password: <input type="password" name="confirmPassword"></p>
                    <!-- Add other fields for updating user information -->
                    <button class="update-profile-btn" type="submit">Save Changes</button>
                </form>
            </div>
        </div>

            <div class="left-side">
                <div class="frame">
                    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="52" height="51" viewBox="0 0 52 51" fill="none">
                        <path d="M40.0156 30.433C40.2325 29.8115 40.9118 29.4834 41.5334 29.6989C42.155 29.9162 42.483 30.5954 42.2658 31.217C41.3991 33.6825 39.9874 35.8906 38.1789 37.6972C36.3722 39.5023 34.1626 40.9075 31.6969 41.7713C30.9863 42.0195 30.421 42.4972 30.0647 43.097C29.7075 43.6983 29.5575 44.4242 29.6775 45.1658L29.6872 45.2267C29.7652 45.683 29.9276 46.0887 30.1634 46.437C30.4071 46.7932 30.7366 47.0992 31.1441 47.341C31.5576 47.5864 31.9826 47.7314 32.409 47.7752C32.84 47.819 33.2867 47.7613 33.7377 47.6035C37.7746 46.1902 41.3068 43.7043 43.9898 40.4876C46.6401 37.31 48.4639 33.42 49.1321 29.1479C49.2322 28.4982 49.8413 28.0533 50.4911 28.153C51.1404 28.2531 51.5871 28.8622 51.4856 29.5116C50.7486 34.2211 48.7389 38.5093 45.82 42.0085C42.8624 45.5562 38.9694 48.2967 34.5217 49.8536C33.7394 50.1286 32.9508 50.2237 32.1746 50.1471C31.3938 50.0691 30.6379 49.8176 29.929 49.3963C29.2138 48.9713 28.6313 48.4281 28.1911 47.7831C27.76 47.149 27.4694 46.4231 27.3337 45.6221C27.3305 45.6032 27.3226 45.5736 27.3226 45.5547C27.1089 44.2368 27.3743 42.9503 28.0083 41.8835C28.6438 40.8138 29.6494 39.9629 30.9115 39.5209C33.0334 38.7779 34.9356 37.5643 36.4972 36.0078C38.0557 34.4508 39.2689 32.552 40.0141 30.433H40.0156ZM22.3506 48.6326C23 48.7323 23.4452 49.3414 23.3451 49.9911C23.2436 50.6422 22.6363 51.0871 21.9865 50.9856C17.2767 50.2486 12.99 48.239 9.48882 45.3204C5.94094 42.3615 3.20023 38.4701 1.64358 34.0231C1.37001 33.2405 1.27348 32.4519 1.34971 31.6758C1.42807 30.8954 1.6792 30.1409 2.10096 29.4303C2.52557 28.7169 3.06915 28.1327 3.71567 27.6925C4.36077 27.2537 5.10241 26.9602 5.92241 26.8273L5.94414 26.8245C7.26213 26.609 8.54735 26.8757 9.61563 27.5098C10.6853 28.1452 11.5363 29.1511 11.9784 30.4127C12.7214 32.5349 13.9351 34.4384 15.4917 35.9981C17.0487 37.5565 18.9477 38.77 21.0682 39.5162C21.6898 39.7335 22.0179 40.4128 21.801 41.0343C21.5837 41.6555 20.9044 41.9836 20.2828 41.7681C17.8171 40.9015 15.6089 39.4899 13.8022 37.6801C11.9969 35.8735 10.5917 33.6637 9.72784 31.1995C9.47956 30.4893 9.00187 29.924 8.40201 29.5664C7.7993 29.2088 7.07156 29.0588 6.32814 29.1792L6.30641 29.1821C5.83621 29.2587 5.41802 29.4225 5.0618 29.6647C4.70559 29.9083 4.3996 30.2378 4.15773 30.6453C3.9123 31.0592 3.76732 31.4856 3.72351 31.9101C3.6797 32.3411 3.7374 32.7878 3.8952 33.2391C5.30866 37.2754 7.79467 40.8078 11.0116 43.4903C14.1894 46.1403 18.0796 47.964 22.3506 48.6326ZM2.86789 21.851C2.76779 22.5003 2.15867 22.9455 1.50893 22.8454C0.859557 22.7439 0.412866 22.1366 0.514387 21.4869C1.25139 16.7774 3.26115 12.4896 6.17995 8.98856C9.13759 5.4409 13.0306 2.70037 17.4783 1.14346C18.2606 0.868839 19.0492 0.771955 19.8254 0.849961C20.6062 0.927967 21.3603 1.17944 22.071 1.60117C22.7862 2.02575 23.3687 2.56929 23.8089 3.214C24.2496 3.85906 24.5413 4.60065 24.6742 5.4206L24.6774 5.4409C24.8911 6.75881 24.6257 8.04537 23.9917 9.1118C23.3562 10.1814 22.3506 11.0327 21.0885 11.4744C18.9666 12.2178 17.063 13.4295 15.5028 14.9879C13.9443 16.5448 12.7311 18.4451 11.9844 20.564C11.7675 21.1856 11.0882 21.5136 10.4666 21.2982C9.84503 21.0809 9.51696 20.4016 9.73247 19.7804C10.5991 17.3145 12.0112 15.1051 13.8211 13.2985C15.6278 11.4933 17.8374 10.0863 20.3017 9.22436C21.0123 8.97609 21.5776 8.49844 21.9335 7.89862C22.2929 7.29594 22.4425 6.56825 22.3207 5.82488L22.3178 5.80457C22.2412 5.33476 22.0788 4.91623 21.8352 4.56004C21.5915 4.20243 21.262 3.89788 20.8545 3.65603C20.4406 3.41097 20.0142 3.26565 19.5896 3.22183C19.1586 3.17802 18.7119 3.23608 18.2606 3.39352C14.224 4.80688 10.6914 7.29274 8.00875 10.5095C5.35853 13.6871 3.53436 17.577 2.86611 21.8492L2.86789 21.851ZM30.9332 11.484C30.3116 11.2668 29.9835 10.5875 30.199 9.96595C30.4163 9.34475 31.0956 9.0167 31.7172 9.23362C34.1829 10.1002 36.3911 11.5104 38.1992 13.3202C40.0045 15.1268 41.4116 17.3366 42.2754 19.8022C42.5237 20.5142 43.0013 21.078 43.6012 21.4356C44.2021 21.7929 44.9284 21.9429 45.6719 21.8228L45.731 21.8132C46.187 21.7352 46.593 21.5728 46.9414 21.337C47.2973 21.0933 47.6018 20.7639 47.8455 20.3564C48.0905 19.9425 48.2359 19.5179 48.2797 19.0916C48.3235 18.6606 48.2655 18.2139 48.108 17.7626C46.6946 13.7263 44.2085 10.1925 40.9916 7.50966C37.8138 4.85996 33.9236 3.03448 29.6526 2.36769C29.0029 2.26796 28.5565 1.65887 28.6577 1.00918C28.7578 0.358062 29.3669 -0.0868204 30.0167 0.0143377C34.7279 0.751652 39.0146 2.76128 42.514 5.67955C46.0623 8.63878 48.8044 12.5316 50.3596 16.979C50.6328 17.7612 50.7297 18.5498 50.6517 19.3259C50.5737 20.1067 50.3222 20.8625 49.9005 21.5714C49.4759 22.2866 48.9323 22.869 48.2875 23.3092C47.6535 23.7402 46.9289 24.0308 46.126 24.1666C46.1075 24.1698 46.0776 24.1776 46.0605 24.1776C44.7425 24.3913 43.4559 24.1259 42.3876 23.4919C41.3179 22.8565 40.4669 21.851 40.0248 20.589C39.2818 18.4672 38.0681 16.5637 36.5097 15.0021C34.9527 13.4434 33.0523 12.2303 30.9332 11.4855V11.484Z" fill="#F2A283"/>
                      </svg>
                </div>
              <div class="event-dropdown">
                <div class="icon-and-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10C3 8.89543 3.89543 8 5 8H27C28.1046 8 29 8.89543 29 10V25C29 26.1046 28.1046 27 27 27H5C3.89543 27 3 26.1046 3 25V10ZM27 10H5V25H27V10Z" fill="#F2A283"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.29289 2.29289C9.68342 1.90237 10.3166 1.90237 10.7071 2.29289L16 7.58579L21.2929 2.29289C21.6834 1.90237 22.3166 1.90237 22.7071 2.29289C23.0976 2.68342 23.0976 3.31658 22.7071 3.70711L16.7071 9.70711C16.3166 10.0976 15.6834 10.0976 15.2929 9.70711L9.29289 3.70711C8.90237 3.31658 8.90237 2.68342 9.29289 2.29289Z" fill="#F2A283"/>
                    </svg>
                    <a href='/myEvants' class="link">My Events</a>
                </div>
            <div class="event-dropdown">
                <div class="icon-and-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <path d="M12 28H6.66667C5.95942 28 5.28115 27.719 4.78105 27.219C4.28095 26.7189 4 26.0406 4 25.3333V6.66667C4 5.95942 4.28095 5.28115 4.78105 4.78105C5.28115 4.28095 5.95942 4 6.66667 4H12" stroke="#F2A283" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.333 22.6668L27.9997 16.0002L21.333 9.3335" stroke="#F2A283" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M28 16H12" stroke="#F2A283" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                          <a href="/api/donations/user/:userId" class="link">Donations</a>
                    </div>

             <div class="event-dropdown">
                 <div class="icon-and-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                           <path d="M12 28H6.66667C5.95942 28 5.28115 27.719 4.78105 27.219C4.28095 26.7189 4 26.0406 4 25.3333V6.66667C4 5.95942 4.28095 5.28115 4.78105 4.78105C5.28115 4.28095 5.95942 4 6.66667 4H12" stroke="#F2A283" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M21.333 22.6668L27.9997 16.0002L21.333 9.3335" stroke="#F2A283" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                         <path d="M28 16H12" stroke="#F2A283" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                          <a href="/api/logout" class="link">Log out</a>

            </div>
            </div>
        </div>
</body>
</html>
